{% load static %}

<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Coming Soon! Middle Sproul</title>
    <link rel="stylesheet" type="text/css" href="{% static 'landing/main.css' %}">
    
</head>

<body class="comingsoon-body">
    <div class="comingsoon-div">
        <div class="comingsoon-top">
            <h1 style="color: #F5F5F5"> - Coming Fall 2020 - </h1>
        </div>
        <div class="comingsoon-bottom">
            <img src="{% static 'landing/stairs -logoOnly.png' %}" class="comingsoon-logo">
            <h1>middle sproul</h1>
            <p style="font-size: large">A new way of finding the orgs you want.</p>
        </div>
        <div>
            <p style="color: #F5F5F5; font-size: medium;">Questions?
                ivalexander13[at]berkeley.edu</p>
        </div>
    </div>
</body>

</html>